/*RESULT COMPONENT*/
.result{
    text-align: center;
    background-color: hsl(241, 81%, 54%);
    
    width: 18rem;
    height: 23rem;
    border-radius: 10%;
    color: white;    
    z-index: 100;
}
@media screen and (max-width: 415px){
    .result{
        border-top-right-radius: 0 ;
        border-top-left-radius: 0;
        margin: 0;
    }
}
@media screen and (min-width: 415px){
    .result{
        margin-right: -2rem;
    }
}
.result h2{
    opacity: 0.5;
    font-size: 1.5rem;
    
}
.number{
    background: rgba(0, 0, 0, 0.5);
    font-size: 4rem;
    font-weight: bold;
    border-radius: 50%;
    width: 12rem;
    height: 12rem;   
    margin: auto;
    line-height: 12rem;    
}

/*SUMMARY COMPONENT*/
.summary{
    background-color: white;
    width: 19rem;
    height: 25rem;
    border-radius: 10%;    
}
@media screen and (min-width: 415px){
    .summary{
        filter: drop-shadow(1rem 1rem 1rem hsla(224, 30%, 27%, 0.6));
    }
}
@media screen and (max-width: 415px){
    .summary{
        margin-left: 0 ;
        margin-right: 0;
    }
}
.summary > *{
    margin: 1rem;
}

/*SCORE COMPONENT*/
.score{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 1rem;
    border-radius: 10px;
    width: 18rem;
}
.score span{
    color: hsla(224, 30%, 27%, 0.6);
}
.score p{
    font-weight: bold;
}

/*BUTTON*/
.summary>button{
    background-color: hsl(224, 30%, 27%);
    width: 18rem;
    height: 3rem;
    border-radius: 30px;
    color: white;
    font-size: large;
    font-weight: bold;
}
