@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: hsl(0, 0%, 98%);
  background-image: url(/bg-desktop-light.jpg);
  background-repeat: no-repeat;
}

@media (prefers-color-scheme: dark) {
  :root {
    
  }
}

body {
  
}
