@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  background-color: hsl(0, 0%, 98%);
  background-image: url(/bg-desktop-light.jpg);
  background-repeat: no-repeat;
  font-size: 18px;
}
.dark {
  background-color: hsl(235, 21%, 11%);
  background-image: url(/bg-desktop-dark.jpg);
  background-repeat: no-repeat;
}
@media (max-width: 375px){
  html {
    background-color: hsl(0, 0%, 98%);
    background-image: url(/bg-mobile-light.jpg);
    background-repeat: no-repeat;
  }
  .dark {
    background-color: hsl(235, 21%, 11%);
    background-image: url(/bg-mobile-dark.jpg);
    background-repeat: no-repeat;
  }
}

  

