/*DESCRIPTION COMPONENT*/
.description {
    background-image: linear-gradient(to left, #6CEFEF , rgb(255, 255, 255));
    width: 25rem;
    padding: 10rem 10rem 10rem 0;
    border-bottom-right-radius: 20%;
}
.description h1 {
    padding-bottom: 1rem;
}
@media screen and (max-width: 390px){
    .description {
        background-image: linear-gradient(to top, #6CEFEF , rgb(255, 255, 255));
        border-radius: 0;
        text-align: center;
        padding: 4rem 5rem 10rem 5rem;
    }
}

/*CALCULATOR COMPONENT*/

.calculator {
    padding: 3rem;
    margin: -7rem;
    background-color: white;
    border-radius: 15%;
    filter: drop-shadow(10px 10px lightgray);
}

.calculator>h1 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}
.calculator>h1>span {
    background-color: #5A67E0;
    color:rgb(255, 255, 255);
    padding: 0.3rem 0.8rem;
    border-radius: 50%;
    margin-right: 1rem ;
}
@media screen and (max-width: 390px){
    .calculator {
        width: 13rem;
        border-radius: 25px;
        filter: none;
        border: solid #6CEFEF;
    }
    .calculator h1 {
        font-size: 1.2rem;
    }
}

