/*DESCRIPTION COMPONENT*/
.description {
    background-image: linear-gradient(to left, #6CEFEF , rgb(255, 255, 255));
    width: 25rem;
    padding: 10rem 10rem 10rem 5rem;
    border-bottom-right-radius: 20%;
}
.description h1 {
    padding-bottom: 1rem;
}

/*CALCULATOR COMPONENT*/

.calculator {
    padding: 3rem;
    margin: -7rem;
    background-color: white;
    border-radius: 15%;
    filter: drop-shadow(10px 10px lightgray);
}
.calculator>h1 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
}
.calculator>h1>span {
    background-color: #5A67E0;
    color:rgb(255, 255, 255);
    padding: 0.3rem 0.8rem;
    border-radius: 50%;
    margin-right: 1rem ;
}

