.container {
    background-color: #343333;
    margin-bottom: 2rem;
    height:fit-content; /*Thise solves img overflow*/    
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center; /*This and not align-content centers the img*/
}
#password {
    margin-left: 1rem;
}
@media (max-width: 412px) {
    #password {
        font-size: 4vw; /*This prevent overflowing in mobile devices*/
    }
}