.main {
  margin: 0;
  padding:0;
  text-align: center;
  color: #8B8B8B;
  max-width: 412px;
  margin: auto;
}
.main h1{
  font-size: 1.2rem;
}
.main a {
  color: #8B8B8B;
  margin-top: 2rem;
}
.title {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
.container {  
  text-align: center;
}


