@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-image: url("/pattern-bg-desktop.png");
    background-repeat: no-repeat;
    background-color: antiquewhite;
}
@media (max-width: 375px){
    html {
        background-image: url("/pattern-bg-mobile.png");
        background-repeat: no-repeat;
    }
}

