.data{
    margin-bottom: 2rem;
}
.data form div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-left: 8rem;
    margin-right: 1rem;
}
.data div input {
    width: 3rem;
    border: none;
    background-color: #6CEFEF;
    font-weight: bolder;
    text-align: center;
}
.data div input:focus {
    border-color: #5A67E0;
    background-color: #5A67E0;
    color: white
}
@media screen and (max-width: 390px){
    .data form div {        
       margin-left: 2rem;      
    }
}
.gender {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;    
    margin-bottom: 2rem;
}
.gender label{
    margin-right: 5px;
}
.gender input{
    margin-right: 10px;
}

.result {
    display: flex;    
    align-items: center;
    justify-content: space-between;
    background-color: #5A67E0;
    color: white;
    padding: 1rem;
    width: 17rem;
    border-top-right-radius: 2rem ;
    border-bottom-right-radius: 2rem;
}
@media screen and (max-width: 390px){
   
    .result {
        width: 13rem;
    }
    .result h1 {
        font-size: 1.7rem;
    }
}

.result button {    
    background: radial-gradient(white 0%, transparent 80%, black 80%);
    width: 3rem;
    height: 3rem;
    border: none;
    font-size: 1.3rem;
    font-weight: bold;
    border-radius: 50%;
}
.result button:active {
    background: radial-gradient(black 0%, transparent 50%, white 80%);
    color: white;
}

