.data{
    margin-bottom: 2rem;
}
.data form div {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    margin-left: 8rem;
    margin-right: 1rem;
}
.data div input {
    width: 3rem;
    border: none;
    background-color: #6CEFEF;
}
.gender {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;    
    margin-bottom: 2rem;
}
.gender label{
    margin-right: 5px;
}
.gender input{
    margin-right: 10px;
}

.result {
    display: flex;    
    justify-content: space-between;
    background-color: #5A67E0;
    color: white;
    padding: 1rem;
    width: 17rem;
    border-top-right-radius: 2rem ;
    border-bottom-right-radius: 2rem;
}

