.data{

}
.data form div {
    display: flex;
    flex-direction: column;
}
.gender {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;    
    margin-bottom: 1rem;
}
.gender label{
    margin-right: 5px;
}
.gender input{
    margin-right: 10px;
}

.result {
    display: flex;    
}
