.main {
  margin: 0;
  padding:0;
  text-align: center;
}
.main h1 {
  color: #8B8B8B;
  margin-top: 5rem;
}
.main button{
  width: 14rem;
  height: 2rem;
  margin: 1rem;
  background-color: aquamarine;
  border: none;
  color: #0E0E0E;
}
.main a {
  display: block;
  color: #8B8B8B;
  text-decoration: none;
  margin-top: 2rem;
} 

