.container {
    display: grid;
    grid-template-columns: 1fr 15fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 1rem;
    row-gap: 1rem;
    margin-left: 1rem;
}
.container label {
    place-self: center start;
}
.container input {
  /* Those instructions remove useragent style */
  -webkit-appearance: none;
  appearance: none;
  /* For iOS < 15 to remove gradient background */
  background-color: #fff;
  /* Not removed via appearance */
  margin: 0;
  place-self: center end;

  color: #8B8B8B;
  background: none;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;  

  /*This is the quickest way to align 
  the :before to the horizontal and 
  vertical center of our custom control.*/
  display: grid;
  place-content: center;
} 
.container input::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em #7fffd4;
}
.container input:checked::before {
    transform: scale(1);
}