.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 1rem;
    margin-right: 1rem;
}
.boxcontainer {
    display: flex;
    gap: 5px;
}
.boxcontainer div{
    border: solid #8B8B8B;
    width: 10px;
    height: 1.5rem;
}